@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/*0*/
* {
    box-sizing: border-box;
}

/*1*/
html {
    font-size: 16px;
}

/*1*/
body {
    background-image: url(../img/pink-flowers.png);
    background-attachment: fixed;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
}

/*10*/
.wraper {
    width: 89%;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 3%;
}


/*10*/
.header__heading--spec,
.article__item--uppercase {
    text-transform: uppercase;

}

/*1*/
.header__heading {
    padding-top: 6.6%;
    padding-bottom: 3.2%;
    font-size: 2rem;
    color: #A11414;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
}

/*10*/
.header__heading--spec {
    font-weight: 700;
}

/*10*/
.header__img-wrap {
    border: 1px solid #000;
    padding: 0.9% 1.1%;
}

/*11*/
.header__img-wrap img {
    width: 100%;
}

/*1*/
p {
    color: #1d1b1b;
    margin-bottom: 31px;
    line-height: 150%;
}

/*10*/
.section--flx {
    display: flex;
    margin-top: 70px;
}

/*10*/
.article {
    width: 89.4%;
}

/*10*/
.nav-wrap {
    width: 13%;
    height: fit-content;
    border-radius: 2px 15px;
    background: #d7d7d7;
    padding: 29px 26px;
    font-family: Arial, Helvetica, sans-serif;
    flex-shrink: 0;
}

/*1*/
a {
    color: #000;
    text-decoration: none;
}

/*11*/
/*10*/
/*1*/
a:hover,
.article__item--red {
    font-weight: 700;
    color: #A11414;
}

/*1*/
.article__heading {
    color: #A11414;
    margin-bottom: 2%;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
}

/*10*/
.section {
    margin-top: 2%;
}

/*1*/
.nav__heading {
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 24px;
}

/*11*/
.nav {
    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.4px;
    list-style: none;
}

/*10*/
.article__item {
    text-indent: 2.7%;
}

/*10*/
.article__item {
    margin-bottom: 2.9%;
}

/*10*/
.article__item--crossed {
    text-decoration: line-through;
}

/*10*/
.footer__item--bold {
    font-weight: 700;
}

/*10*/
.footer__text {
    text-align: center;
    padding: 7px 0 6px;
    color: #403636;
}

/*10*/
.divider {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    gap: 12%;
    margin-top: 3.4%;
}

/*1*/
hr {
    border: 1px solid #403636;
    width: 19%;
    height: min-content;
    margin-top: 13px;
}